* {
	margin: 0;
	padding: 0;
}
.wrapper {
	max-width: 1240;
	margin: 0 auto;
}
/*nav*/
nav{
	margin: 20px 0;
	text-align: right;
}
nav a {
	display: inline-block;
	font-size: 20px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	color: #009999;
	padding: 10px 20px;
	margin: 0 10px;	
}
nav a:hover {
	border-bottom: 2px solid #009999;
}
.btn4 {
	border: 2px solid #009999;
	margin-left: 100px;
	margin-right: 50px;
	transition: 0.2s;
	letter-spacing: 2px;
}
.btn4:hover {
	background-color: #009999;
	color: #fff;

}
/*header*/
header {
	min-height: 300px;
	background-color: #555;
}

/*main*/
main {
	min-height: 50vh;
	background-color: #444;
}

/*footer*/
footer {
	min-height: 100px;
	background-color: #333;
}