* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.wrapper {
	max-width: 1240px;
	margin: 0 auto;
}

/* nav */
nav {
	font-size: 0;
}
nav a {
	display: inline-block;
	padding: 20px;
	width: 25%;
	background-color: grey;
	font-size: 20px;
	font-family: arial, sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	line-height: 30px;
}
nav a.btn1 {
	background-color: #005497;
}
nav a.btn2 {
	background-color: #00735D;
}
nav a.btn3 {
	background-color: #4F0073;
}
nav a.btn4 {
	background-color: #CA0059;
}
nav a:hover {
	color: #F0C300;
}

/* header */
header {
	min-height: 30vh;
	background-color: #555;
}

/*main*/
main {
	min-height: 50vh;
	background-color: #444;
}

/*footer*/
footer {
	min-height: 10vh;
	background-color: #333;
}